.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__pycache__
GeoLite2-City.mmdb
GeoLite2-City.tar.gz
data/varken.ini
data/GeoLite2-City.mmdb
data/GeoLite2-City.tar.gz
.idea/
Legacy/configuration.py
