#---------------------------------------------------------
# Potential requirements.
# pip3 install -r requirements.txt
#---------------------------------------------------------
requests==2.31.0
geoip2==2.9.0
influxdb==5.2.0
schedule==1.1.0
distro==1.4.0
urllib3==1.26.10
