#---------------------------------------------------------
# Potential requirements.
# pip3 install -r requirements.txt
#---------------------------------------------------------
requests==2.31.0
geoip2==4.8.0
influxdb==5.3.1
schedule==1.2.1
distro==1.9.0
urllib3==2.2.1
