[Unit]
Description=Varken - A data collection and graphing tool
After=network-online.target

[Service]
Type=simple
User=username
WorkingDirectory=/opt/Varken
ExecStart=/opt/Varken/varken-venv/bin/python /opt/Varken/varken.py
Restart=always

[Install]
WantedBy=multi-user.target
